debug_star.o2
debug_eos.o2
test
test.o
data_temp
err.out
process
bamr_nompi
.cli_hist
*~
*.o
.svn/*
bamr
doc/.svn/*
doc/html/
doc/bamr.tag
doc/doxygen.log
data/.svn/*
data/*/.svn/*
old_rel/.svn/*
.vscode/
out/*
