*~
*.o
.svn/*
bamr
doc/.svn/*
doc/html/
doc/latex/.svn/*
doc/latex/Makefile
doc/latex/annotated.tex
doc/latex/classalt__polytropes.eps
doc/latex/classalt__polytropes.pdf
doc/latex/classalt__polytropes.tex
doc/latex/classbamr.tex
doc/latex/classcold__nstar2.eps
doc/latex/classcold__nstar2.pdf
doc/latex/classcold__nstar2.tex
doc/latex/classentry.tex
doc/latex/classfixed__pressure.eps
doc/latex/classfixed__pressure.pdf
doc/latex/classfixed__pressure.tex
doc/latex/classgeneric__quarks.eps
doc/latex/classgeneric__quarks.pdf
doc/latex/classgeneric__quarks.tex
doc/latex/classhist__2d__matrix.eps
doc/latex/classhist__2d__matrix.pdf
doc/latex/classhist__2d__matrix.tex
doc/latex/classhist__ev__1d.tex
doc/latex/classhist__ev__2d.tex
doc/latex/classhist__set__ev__x.tex
doc/latex/classhist__set__ev__y.tex
doc/latex/classmodel.eps
doc/latex/classmodel.pdf
doc/latex/classmodel.tex
doc/latex/classquark__star.eps
doc/latex/classquark__star.pdf
doc/latex/classquark__star.tex
doc/latex/classtwo__polytropes.eps
doc/latex/classtwo__polytropes.pdf
doc/latex/classtwo__polytropes.tex
doc/latex/doxygen.sty
doc/latex/hierarchy.tex
doc/latex/index.tex
doc/latex/license_page.tex
doc/latex/refman.aux
doc/latex/refman.idx
doc/latex/refman.ilg
doc/latex/refman.ind
doc/latex/refman.log
doc/latex/refman.out
doc/latex/refman.pdf
doc/latex/refman.tex
doc/latex/refman.toc
doc/latex/todo.tex
indata/.svn/*
